.bg-dark {
    background-color: #198D9A!important;
}

.jumbotron {
    background-color: white;
    padding: 5px!important;
}

.jumbotronText{
    text-align: center!important;
    margin: auto;
}

.display-4 {
    font-weight: bolder!important;
    font-size: 100px!important;
}

.lead {
    font-size: 36px;
}

.overview {
    font-weight: bolder;
}

.btn-group {
    display:flex;
    justify-content: center;
}

.btn {
    background-color: #198D9A;
    border-color: #198D9A;
    color: white;

}

.btn:hover {
    background-color: #23B7C8;
    border-color: #23B7C8;
    color: white;
}

.casestudynav {
    padding: 35px;
}

.process {
    text-align: center;
    font-weight: bold;
}

.text {
    font-size: 10pt;
    font-style: normal;
}

.container {
    padding: 35px;
}

.col-lg-12 {
    padding:0!important;
    margin: 0 auto!important;
}

.top {
    display:none;
}

/*homework19*/
html {
    font-family:'SF Pro Display';
}

.navigation {
    width: 98%;
    height: 60px;
    padding:1%;
    background-color:#198D9A;
    color: white;
}

.FlexNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.navheadlines {
    display: flex;
    list-style-type: none;
    vertical-align: middle;
    padding: 5px;
}

li {
    padding-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
}

.socialheader {
    display: flex;
    padding: 15px;
}

.LinkedInwhite {
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: 700;
}

.dropdown a {
    display: none;
}

.smallscreenheader {
    display: none;
}

.heroImage {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroFlexContainer {
    position:relative;
}

.heroDescription {
    display:flex;
    flex-direction: column;
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top:0;
    left: 0px;
}

.heroline {
    font-size: 18px;
    text-align: center;
}

.AboutFlexContainer {
    display: flex;
    flex-direction: row;
}

.headshot {
    padding: 5%;
    margin-left: 25px;
    size: 50%;
}

.AboutDescription {
    margin-right: 45px;
}

footer {
    background-color: #F2F2F2;
}

.inline-block-footer {
    display:inline-block;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    justify-content: space-between;
    vertical-align: middle;
    }

.socialfooter {
    vertical-align: top;
    padding-right: 5px;
}

.copyright {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

button {
    color: white;
    font-weight: bold;
    font-size: 12pt;
    background-color: #198D9A;
    border: none;
    padding: 15px;
    border-radius: 50px;
    margin: 10px;
    transition: 0.3s;
}

button:hover {
    background: #23B7C8;
}

.skillssection {
    background: 600px;
    background-color:#DBDBDB;
}

.skillsflexcontainer {
    display:flex;
}

.skills1-2 {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-left: 100px;  
    padding:0;  
}

.skills3-4 {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-left: 100px;
}

h1 {
    font-size: 32pt;
}

.learnmore {
    font-weight: bold;
    font-size: 14px;
}

.email {
    color: black;
    font-size: 14px;
    text-decoration: underline;
}

.mySkillsheader {
    font-size: 16pt;
    padding-top: 20px;
    margin-left: 100px;
}

.myWork {
    padding-bottom: 35px;
}

.workGrid {
    display: grid;
    grid-template-columns: 50 50;
    grid-template-rows: 50 50;
    grid-template-areas: 
    "proj1 proj2"
    "proj3 proj4";
    margin-left: 45px;
}

.proj1 {
    grid-area: "proj1";
}

.proj2 {
    grid-area: "proj2";
}

.proj3 {
    grid-area: "proj3";
}

.proj4 {
    grid-area: "proj4";
}

.projectbutton {
    padding: 2%;
    font-size: 10pt;
    margin: 0;
}

.Projects {
    margin-left: 35px;
    font-size: 24px;
}

.proj1:hover {
    opacity: 75%;
}

.proj2:hover {
    opacity: 75%;
}

.proj3:hover {
    opacity: 75%;
}

.proj4:hover {
    opacity: 75%;
}

.Roam {
    width: 100%;
}

.FDA {
    width: 100%;
}

.Unison {
    width: 100%;
    padding-top: 20px;
}

.PADV {
    width: 100%;
    padding-top: 20px;
}


@media (max-width: 375px) {
    .container {
        padding:20px;
    }
    
    .row-image {
        padding-bottom: 35px!important;
     }

     .right {
        display:none;
     }

     .top {
         display:inline;
         padding: 25px;
     }

     .btn-group {
         flex-wrap: wrap;
         width: 100%;
     }


     /*homwork19*/
     .smallscreenheader {
        display: flex;
        flex-direction: row;
        width: 98%;
        height: 60px;
        padding:1%;
        background-color:#198D9A;
        color: white;
        justify-content:space-evenly;
    }

    .dropdown .menu{
        padding: 20px;
        position:relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: none; 
    }

    .dropdowncontent {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 95px;
        margin: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdowncontent a {
        color: #198D9A;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdowncontent a:hover {
        background-color: #198D9A;
        color: white;
    }

    .show {
        display: block;
    }

    .headshot {
        margin: auto;
    }

    .skills1-2 {
        margin-left: 25px;
    }

    .skills3-4 {
        margin-left: 25px;
    }

    .navheadlines {
        display: none;
    }

    .heroDescription h1 {
        font-size: 28px;
    }

    .heroline {
        font-size: 14px;
    }

    .inline-block-footer {
        width: 98%;
        padding: 1%;
    }

}

@media (max-width: 768px) {
    .row-image {
        padding-bottom: 35px!important;
    }

    .right {
        display:none;
     }

     .top {
         display:inline;
         padding: 25px;
     }

     /*homework19*/
     .AboutFlexContainer {
        flex-wrap: wrap;
    }
    
    .AboutDescription {
        margin-left: 45px;
        flex-wrap: wrap;
    }

    .headshot {
        margin: auto;
    }

    .heroline {
        width: 95%;
    }

}

/*homework19*/
@media (max-width: 600px){
    .smallscreenheader {
        display: flex;
        flex-direction: row;
        width: 98%;
        height: 60px;
        padding:1%;
        background-color:#198D9A;
        color: white;
        justify-content: space-around;
    }

    .dropdown .menu{
        padding: 20px;
        position:relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: none; 
    }

    .dropdowncontent {
        display: none;
        position:absolute;
        background-color: white;
        min-width: 120px;
        margin: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdowncontent a {
        color: #198D9A;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdowncontent a:hover {
        background-color: #198D9A;
        color: white;
    }

    .show {
        display: block;
    }
    
    .workGrid {
        grid-template-columns: 100;
        grid-template-rows: 100;
        grid-template-areas: 
        "proj1"
        "proj2"
        "proj3"
        "proj4";
    }

    .AboutFlexContainer {
        flex-wrap: wrap;
    }

    .skillsflexcontainer {
        flex-wrap: wrap;
    }
        
    .AboutDescription {
        margin-left: 45px;
        flex-wrap: wrap;
    }

    .headshot {
        margin: auto;
    }

    .navheadlines {
        display: none;
    }

    .navigation {
        display: none;
    }


}


